[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/tiann/KernelSU.git
[submodule "android_kernel_xiaomi_cepheus/AnyKernel3"]
	path = android_kernel_xiaomi_cepheus/AnyKernel3
	url = https://github.com/osm0sis/AnyKernel3
[submodule "AnyKernel3"]
	path = AnyKernel3
	url = https://github.com/osm0sis/AnyKernel3
